<div class="image-box">
  <a class="image-link" href="{{ include.file | prepend: "/images/" | prepend: site.baseurl }}">
    <img class="image"
        src="{{ include.file | prepend: "/images/" | prepend: site.baseurl }}"
        {% if include.alt %}alt="{{ include.alt }}"{% endif %}
        style="{% if include.width %}width:{{ include.width }};{% endif %}{% if include.background %}background-color:{{ include.background}};{% endif %}"
         />
  </a>
  {% if include.caption %}
    <span class="image-caption">{{ include.caption | markdownify }}</span>
  {% endif %}
</div>