<div class="socialshareprivacy"></div>
<script type="text/javascript">
    jQuery(document)
	    .ready(
		    function($) {
			if ($('.socialshareprivacy')) {
			    $('.socialshareprivacy')
				    .socialSharePrivacy(
					    {
						'services' : {
						    'facebook' : {
							'dummy_img' : '/js/plugins/socialshareprivacy/images/dummy_facebook.png',
							'referrer_track' : '/from/facebook',
							'sharer' : {
							    'status' : 'on',
							    'dummy_img' : '/js/plugins/socialshareprivacy/images/dummy_facebook_share_en.png',
							    'img' : '/js/plugins/socialshareprivacy/images/facebook_share_en.png'
							}
						    },
						    'twitter' : {
							'dummy_img' : '/js/plugins/socialshareprivacy/images/dummy_twitter.png',
							'referrer_track' : '/from/twitter'
						    },
						    'gplus' : {
							'dummy_img' : '/js/plugins/socialshareprivacy/images/dummy_gplus.png',
							'referrer_track' : '/from/gplus'
						    }
						},
						'css_path' : '/js/plugins/socialshareprivacy/socialshareprivacy.css',
						'lang_path' : '/js/plugins/socialshareprivacy/lang/',
						'language' : 'en'
					    });
			}
		    });
</script>