form,
fieldset,
legend,
label,
.input,
textarea,
input[type="text"],
input[type="password"],
input[type="email"],
input[type="url"] {
	width: 100%;
	box-sizing: border-box;
	display: block;
	border: none;
}

form,
fieldset {
	padding: 0;
	margin: 0;
}

legend ,
label {
	padding: 0;
	margin: 5px 0;
}

.input,
textarea,
input[type="text"],
input[type="password"],
input[type="email"],
input[type="url"] {
	padding: 1px;
	margin: 0;
	outline: 1px solid $grey-color;
	
	&:focus, &:hover {
		outline-color: $text-color;
	}
}