/**
 * Site header
 */
.site-header {
    border-top: 5px solid $grey-color-dark;
    border-bottom: 1px solid $grey-color-light;
    min-height: 56px;
    background-color: $background-color;

    // Positioning context for the mobile navigation icon
    position: relative;
}

.site-title {
    font-size: 26px;
    line-height: 56px;
    letter-spacing: -1px;
    margin: 0;
    float: left;
    @extend %clearfix;

    &,
    &:visited {
        color: $grey-color-dark;
    }
}

.site-nav {
    .menu-icon {
        display: none;

        width: 36px;
        height: 26px;
        padding-top: 10px;
        line-height: 0;
        text-align: center;
    	margin: 10px 5px;
	    float: right;
	    @extend %clearfix;

        > svg {
            width: 18px;
            height: 15px;

            path {
                fill: $grey-color-dark;
            }
        }
    }

    .page-link {
        color: $text-color;
        line-height: $base-line-height;
		margin-left: 20px;
    }
    
    .trigger {
    	padding: 16px 0;
    	float: right;
	    @extend %clearfix;
    }

    @include media-query($on-palm) {
    	width: 100%;
    	margin: 0;

	    .menu-icon {
	        display: block;
        }

        .trigger {
        	clear: both;
            overflow: hidden;
            max-height: 0;
			        transition: max-height 0.5s;
			-webkit-transition: max-height 0.5s;
			
    		padding: 0;
			float: none;
        }

		&:hover .trigger,
		.menu-icon:focus + .trigger {
            max-height: 1000px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;
            margin: 0;
        }
    }
}



/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
}

.contact-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-description {
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
}

.footer-col-contact {
    width: -webkit-calc(40% - (#{$spacing-unit} / 2));
    width:         calc(40% - (#{$spacing-unit} / 2));
}

.footer-col-license {
    width: -webkit-calc(22% - (#{$spacing-unit} / 2));
    width:         calc(22% - (#{$spacing-unit} / 2));
}

.footer-col-icon-attribution {
    width: -webkit-calc(38% - (#{$spacing-unit} / 2));
    width:         calc(38% - (#{$spacing-unit} / 2));
}

.footer-col-github-attribution {
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
}

.footer-col-impressum {
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
    background-color: $background-color;
    box-shadow: 0px 0px 5px 3px $background-color;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-date {
    font-size: $small-font-size;
    color: $grey-color;
    float: right;
}

.post-description {
	font-size: $base-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 16px;
}

.post-link:hover {
	text-decoration: none;
	
	> .post-description {
		color: $text-color;
	}
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
    
   	.post-description {
		color: $text-color;
   	}

    .post-title {
	   	letter-spacing: -1px;
    	font-size: 42px;
		color: $text-color;
    	
	    @include media-query($on-laptop) {
        	font-size: 36px;
    	}
    }
}

.post-title {
   	line-height: 1;
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}

.tag-list {
	margin: 3px 0;
	
	.tag {
		display: inline-block;
		list-style: none;
		border: 1px solid #eee;
		border-radius: 15px;
		padding: 0 0 3px;
		font-size: 0.7em;
	}
	
	a {
		padding: 0 10px 3px;
		color: $text-color;
		
		&:hover {
		    text-decoration: none;
		}
	}
}

.tag-page {
	.post-link {
		color: $text-color;
	}

	.post-link:hover {
		color: $brand-color;
	}
	
	.post-list {
        margin-bottom: $spacing-unit / 2;
        
		li {
	        margin-bottom: 0;
		}
	}
	
	.tag {
		font-size: 1.5em;
		border-radius: 30px;
		padding: 0 0 7px;
		
		a {
			padding: 0 20px 3px;
		}
	}
}

.author_address {
	list-style: none;
	margin-left: 0;
}