.tag-list .tag-tag1 {
	background-color: #FF8A8A;
}

.tag-list .tag-tag2 {
	background-color: #AD8BFE;
}

.tag-list .tag-tag3 {
	background-color: #4BFE78;
}

.tag-list .tag-tag4 {
	background-color: #FFFF84;
}

