.tag-list .tag-java {
	background-color: #FF8A8A;
}

.tag-list .tag-security {
	background-color: #AD8BFE;
}

.tag-list .tag-js {
	background-color: #4BFE78;
}

.tag-list .tag-bash {
	background-color: #FFFF84;
}

