.game-of-life .controls:after, .game-of-life .canvas:after, .game-of-life .rules .rule-items label:after {
  content: "";
  display: table;
  clear: both; }

.game-of-life {
  font-family: Verdana, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 300;
  color: #111;
  background-color: #080808;
  -webkit-text-size-adjust: 100%; }

.game-of-life form,
.game-of-life fieldset,
.game-of-life legend,
.game-of-life label,
.game-of-life .input,
.game-of-life textarea,
.game-of-life input[type="text"],
.game-of-life input[type="password"],
.game-of-life input[type="email"],
.game-of-life input[type="url"] {
  width: 100%;
  box-sizing: border-box;
  display: block;
  border: none; }
.game-of-life form,
.game-of-life fieldset {
  padding: 0;
  margin: 0; }
.game-of-life legend,
.game-of-life label {
  padding: 0;
  margin: 5px 0; }
.game-of-life .input,
.game-of-life textarea,
.game-of-life input[type="text"],
.game-of-life input[type="password"],
.game-of-life input[type="email"],
.game-of-life input[type="url"] {
  padding: 1px;
  margin: 0;
  outline: 1px solid #828282; }
  .game-of-life .input:focus, .game-of-life .input:hover,
  .game-of-life textarea:focus,
  .game-of-life textarea:hover,
  .game-of-life input[type="text"]:focus,
  .game-of-life input[type="text"]:hover,
  .game-of-life input[type="password"]:focus,
  .game-of-life input[type="password"]:hover,
  .game-of-life input[type="email"]:focus,
  .game-of-life input[type="email"]:hover,
  .game-of-life input[type="url"]:focus,
  .game-of-life input[type="url"]:hover {
    outline-color: #111; }
.game-of-life .custom-pattern textarea {
  resize: vertical;
  height: 400px; }
.game-of-life .controls {
  margin-right: 10px;
  width: 300px;
  float: left; }
.game-of-life .canvas {
  text-align: center;
  min-width: 100px;
  width: calc(100% - 310px);
  width: -webkit-calc(100% - 310px);
  float: left; }
.game-of-life .rules .rule-items label {
  margin: 0;
  width: auto;
  float: left; }
@media screen and (max-width: 800px) {
  .game-of-life .canvas, .game-of-life .controls {
    margin: 0;
    width: 100%;
    float: none; } }
.game-of-life .custom-pattern {
  display: none; }
